/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

p {
  line-height: 2rem;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#skills.parallax-container {
  z-index: 1;
}

.collection .collection-item.avatar .circle.square-border {
  border-radius: 0;
}

.collection .collection-item.avatar .circle.unlock-height {
  height: auto;
}

a.contact-link {
  color: rgba(0, 0, 0, 0.87);
}

a.contact-link .flow-text {
  font-weight: 400;
}

a.contact-link:hover .col {
  background-color: rgba(0, 0, 0, 0.1);
}

.collection .collection-item.avatar i.circle.skill-language {
    font-size: 42px;
}
