@font-face {
    font-family: 'quicksandregular';
    src: url('fonts/quicksand/quicksand-regular-webfont.eot');
    src: url('fonts/quicksand/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicksand/quicksand-regular-webfont.woff2') format('woff2'),
         url('fonts/quicksand/quicksand-regular-webfont.woff') format('woff'),
         url('fonts/quicksand/quicksand-regular-webfont.ttf') format('truetype'),
         url('fonts/quicksand/quicksand-regular-webfont.svg#quicksandregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{
    background-color: #1f253d;
    color: white;
    font-family: 'quicksandregular', sans-serif;
}

a
{
    color: #fcb150;
    text-decoration: none;
}

header
{
    clear: both;
	display: block;
    margin-bottom: 50px;
    padding-top: 50px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.presentation
{
    display: inline-block;
    position: relative;
    width: 560px;
    min-width: 450px;
}

.identite
{
    display: inline-block;
}

.presentation h1
{
    display: inline-block;
    padding: 0;
    margin: 15px 0 0;
    vertical-align: top;
    font-size: 2.5em;
}

.presentation h2
{
    display: inline-block;
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 15px;
    left: 125px;
    font-size: 1.5em;
}

aside
{
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 1.5em;
}

aside ul
{
    text-align: right;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

aside ul li
{
    margin-top: 20px;
    background: no-repeat 0 center;
    background-size: 25px;
    padding-left: 50px;
}

aside ul .adresse
{
    background-image: url(img/home63.png);
}

aside ul .telephone
{
    background-image: url(img/phone325.png)
}

aside ul .email
{
    background-image: url(img/mail59.png);
}

section
{
    background-color: #394264;
	border-radius: 5px;
	width: 95%;
    padding: 5px 20px;
    margin: 5px auto 50px;
    font-size: 1.3em;
    min-width: 560px;
}

.entete
{
    display: inline-block;
    margin: -5px 0 0 -20px;
    padding: 9px 25px 9px 15px;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #11a8ab;
}

section table
{
    width: 80%;
    margin:auto;
}

section td
{
    padding: 15px;
}

section .date
{
    width: 185px;
    color: #fcb150;
    font-weight: bold;
    vertical-align: top;
}

section ul
{
    padding: 0;
    margin: 0;
    font-size: 1.2em;
}

section .contenu
{
    padding-left: 150px;
}

section .contenu ul
{
    padding: inherit;
    margin: inherit;
    font-size: inherit;
}

section .image_pres
{
    width: 80%;
    margin: auto;
}

h3
{
    display: inline-block;
    font-size: 2em;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

h4
{
    font-size: 1.5em;
}

.image_desc
{
    display: inline-block;
	width: 70px;
    margin: 0 20px 0 0;
    vertical-align: middle;
}

img
{
	display: inline-block;
	width: 100px;
	vertical-align: middle;
	margin: 10px;
}

/*Style de la page à propos*/
.espace
{
    clear: both;
	display: block;
}

.about
{
    margin-top: 50px;
}

.about_contenu
{
    width: 80%;
    margin: auto;
}

.about_contenu ul
{
    color: #fcb150;
    margin-left: 100px;
}

@media screen and (max-width : 1510px){
    header
    {
        width: 560px;
    }
	aside
    {
        display: block;
        position: relative;
        margin-top: 50px;
    }
    aside ul
    {
        text-align: left;
    }
    section table
    {
        width: 100%;
        margin:auto;
    }
    section .contenu
    {
        padding-left: 0;
    }
    section .image_pres
    {
        width: 100%;
        margin: auto;
    }
}
